
@{
    ViewData["Title"] = "NotFound";
}


<div style="text-align:center">
    <h2>Ups!!!</h2>
    <h3 style="color:darkred">Sorry, but no such user found :(</h3>
    <img height="100" width="100"  src="~/img/Delete-80_icon-icons.com_57340.png">
    <h4 ><a href="/home/SignIn">Try again</a></h4>
</div>

