@model Web_API.Models.UserRegistrationModel;
@{
    ViewData["Title"] = "Congradulation";
}

<div style="text-align:center">
    <h2>Congradulation!!!</h2>
    <h3 style="color:green">@Model.Name, you are in System :)</h3>
    <h4 ><a href="/home/HomePage">Go to the home page</a></h4>
</div>
